*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: mont;
}
@font-face{
    font-family: myFont;
    src: url("Elianto-Regular.ttf")
}
@font-face{
    font-family: mont;
    src: url("Montserrat-SemiBold.ttf");
}
header{
    max-width: 100%;
    background-color: #0d122f;
    height: 100px;
    display: flex;
}
header .izquierda{
    width: 70%;
    display: flex;
}
header .izquierda .licra{
    width: 10%;
    padding-top: 1%;
    height: 90%;
    margin-left: 2%;
    margin-right: 4%;
}
header .izquierda p{
    margin-top: 5%;
    color: white;
}
header .izquierda .editor{
    margin-top: 4.6%;
    font-size: 20px;
    color: #05a396;
    margin-right: 2%;
}
.editor,
.inicio {
    cursor: pointer;
    margin: 5px 0;
}
.inicio{
    color: white;
    margin-top: 5%;
    text-decoration: none;
    
}

.editor-nombres {
    display: none;
    flex-direction: row;
    gap: 5px;
    margin-top: 3%;
}

.inicio {
    display: none;
}
header .derecha{
    width: 30%;
    display: flex;
}
header .derecha .comentarios{
    width: 25%;
    margin-left: 70%;
}
header .derecha .comentarios img{
    padding-top: 30%;
    margin-left: 8%;
    width: 70%;
    height: 75%;
}
.portada{
    max-width: 100%;
    background-color: antiquewhite;
    height: 550px;
}
.portada img{
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 320px;
    padding-top: 1%;
}
.footer .link{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}

.footer .link a{
    font-size: 22px;
    background-color: orange;
    background-image: linear-gradient(90deg, #ffb824 0, #ffab22 12.5%, #ff991c 25%, #ff8211 37.5%, #ff6600 50%, #f44500 62.5%, #eb1b02 75%, #e70010 87.5%, #e5001d 100%);
    width: 30%;
    height: 25%;
    margin: 1%;
    padding: 1%;
    padding-top: 2.5%;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.separacion{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(90deg, #ffb824 0, #ffab22 12.5%, #ff991c 25%, #ff8211 37.5%, #ff6600 50%, #f44500 62.5%, #eb1b02 75%, #e70010 87.5%, #e5001d 100%);
}
.infografia{
    width: 100%;
    height: 1500px;
    background-color: #0d122f;
    justify-content: center;
    padding-left: 4%;
    padding-bottom: 4%;
    background-image: url("Recurso\ 43@2x.png");
    background-repeat: no-repeat;
    background-size: 5% 92%;
    background-position-x: 47.5%;
    background-position-y: 70%;
}
.infografia h2{
    color: white;
    margin-left: 13%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: myFont;
    font-size: 30px;
}
.infografia .info_r{
    width: 95%;
    height: 16%;
    display: flex;
    justify-content: space-between;
}
.infografia .info_l{
    width: 95%;
    height: 16%;
    display: flex;
    justify-content: space-between;
}
.infografia .info_r h3{
    width: 35%;
    color: white;
    margin-left: 5%;
    margin-top: 8%;
    font-size: 28px;
    font-family: myFont;
}
.infografia .info_l h3{
    width: 35%;
    color: white;
    margin-right: 5%;
    margin-top: 8%;
    font-size: 28px;
    font-family: myFont;
}
.infografia .info_r .tooltip{
    width: 60%;
}
.infografia .info_l .tooltip{
    width: 60%;
}
.infografia .info_r .tooltip img{
    width: 15%;
    margin-top: 8%;
    margin-left: 6%;
}
.infografia .info_l .tooltip img{
    width: 15%;
    margin-top: 8%;
    margin-left: 72%;
}
.infografia {
    display: flex;
    justify-content: space-between;
}

.info_r, .info_l {
    position: relative;
    display: inline-block;
}

.tooltip img {
    width: 100px;
    height: auto;
}

.tooltip .tooltiptext_r, .tooltip .tooltiptext_l {
    visibility: hidden;
    width: 35%;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 1% 2%;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext_r {
    top: 48%;
    left: 60%; /* Adjust this value to position the tooltip on the right */
    transform: translateY(-50%);
}

.tooltip .tooltiptext_l {
    top: 44%;
    right: 60%; /* Adjust this value to position the tooltip on the left */
    transform: translateY(-50%);
}

.tooltip:hover .tooltiptext_r, .tooltip:hover .tooltiptext_l {
    visibility: visible;
}
.separacion2{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(90deg, #ffb824 0, #ffab22 12.5%, #ff991c 25%, #ff8211 37.5%, #ff6600 50%, #f44500 62.5%, #eb1b02 75%, #e70010 87.5%, #e5001d 100%);
}
.ultima{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(90deg, #ffb824 0, #ffab22 12.5%, #ff991c 25%, #ff8211 37.5%, #ff6600 50%, #f44500 62.5%, #eb1b02 75%, #e70010 87.5%, #e5001d 100%);
}
.pie_pagina{
    background-color: #0d122f;
    width: 100%;
    height: 240px;
    display: flex;
}
.pg_text{
    display: flex;
    text-align: center;
    width: 100%;
    height: 35%;
    font-size: 16px;
    color: white;
    padding-top: 2%;
}
.pg_text h4{
    font-size: 20px;
    font-family: myFont;
}
.pg_text ul{
    list-style-type: none;
}
.pg-box{
    width: 50%;
    height: 100%;
}
.pg-box2{
    width: 50%;
    height: 100%;
}
.pg_img{
    width: 100%;
    height: 60%;
}
.pg_img img{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 1%;
}
.final{
    width: 100%;
    height: 60px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,43,85,1) 35%, rgba(0,212,255,1) 100%);
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .editor-nombres{
        display: flex;
        font-size: 12px;
    }
    .licra{
        margin-top: 1%;
    }
    .comentarios{
        margin-top: 8%;
    }
    .izquierda {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 4%;
    }
    .derecha {
        margin-top: 20px;
    }
    .portada{
        height: 280px;
    }
    .portada img {
        max-width: 100%;
        height: auto;
    }
    .footer .link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pie_pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer .link a{
        font-size: 14px;
        padding-top: 6%;
    }
    .pg_text,
    .pg_img {
        margin-bottom: 2%;
    }
    .pg-box,
    .pg-box2 {
        margin-bottom: 2%;
    }
    .pg_img img{
        display: none;
    }
    .final, .pg_img{
        display: none;
    }
    .infografia {
        padding: 1%;
    }
    .infografia h2 {
        text-align: center;
        font-size: 20px;
        margin-left: 4%;
    }
    .info_r, .info_l {
        margin-bottom: 2%;
    }
    .tooltip{
        padding-left: 2%;
    }
    .info_l .tooltip img{
        padding-left: 2%;
    }
    /* .info_r h3, .info_l h3 {
        margin-top: 10px;
    } */
    /* .tooltip img {
        max-width: 100%;
        height: auto;
    } */
    /* .tooltiptext_r, .tooltiptext_l{
        max-width: 100%;
    } */
}